[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=nikhil
Group=nikhil
WorkingDirectory=/home/nikhil/app/src/
Environment="PATH=/home/nikhil/app/.venv/bin"
EnvironmentFile=/home/nikhil/.env
ExecStart=/home/nikhil/app/.venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target